{
  "plugins": [
    "transform-async-to-generator",
    "transform-object-rest-spread",
    "transform-es2015-modules-commonjs",
    "transform-class-properties",
    ["transform-runtime", { "polyfill": false, "regenerator": true }]
  ]
}
